@import "~antd/dist/antd.css";

.ant-layout {
  background: transparent;
  height: 100%;
  text-align: center;
  margin: 5%;
}

.ant-layout-header {
  background: transparent;
  text-align: center;
  margin: 5%;
  margin-bottom: 5%; 
}

.ant-content {

  background: rgba(245, 245, 245, 0.95);
  text-align: left;
  align-items: center;
  height: min-content;
  margin: 20px;
  padding: 20px;
  /* background: lightblue; */
  /* height: min-content; */
}



.App-logo {
    align-items: center;
    background: rgba(245, 245, 245, 0.95);

}
