@import '~antd/dist/antd.css';

.ant-layout{
    background: transparent;
    height: 100%; 
    text-align:center;  
    margin: 5%;
  }
  
.ant-layout-header{
background: transparent;
text-align:center;
margin: 5%;
}

.ant-layout-content {
background: rgb(184, 175, 157);
color: #fff;
}

.ant-layout-sider {
background: #3ba0e9;
color: #fff;
line-height: 120px;
}
.ant-layout-footer {

}