@import "~antd/dist/antd.css";

.ant-layout {
  background: transparent;
  height: 100%;
  text-align: center;
  margin: 5%;
}

.ant-layout-header {
  background: transparent;
  text-align: center;
  margin: 5%;
}

.ant-content {

  background: lavender;
  text-align: left;
  align-items: center;
  height: min-content;
  margin: 20px;
  padding: 20px;
  /* background: lightblue; */
  /* height: min-content; */
}

.ant-slider {
    text-align: left;
    margin: 5%;
  }

.App-logo {
    align-items: center;
}
